@model IEnumerable<Rehau_TMS.Models.Schedule>
@{
    ViewBag.Title = "Kalendarz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kalendarz pracy</h2>
<br />
@Html.ActionLink("Dodaj wpis", "Create", "Schedule", new { @class = "btn btn-default" })
<br />
<br />

@using (Html.BeginForm("Index", "Schedule", FormMethod.Get))
{
    <div class="form-inline">
            @Html.TextBox("start", null, new { @class = "form-control datepicker", type = "date", id = "start" })
            @Html.TextBox("end", null, new { @class = "form-control datepicker", type = "date", id = "end" })
@if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
{
        <select class="form-control" name="user" id="user">
            <option value="0">Wszyscy</option>               
        </select>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script>
            $(document).ready(function () {
                $.get("/Schedule/GetUserList", { user: $("#user").val() }, function (data) {
                    $.each(data, function (index, row) {
                        $("#user").append("<option value='" + row.Id + "'>" + row.Name + "</option>")
                    })
                });
            });
        </script>
}

           <button class="btn btn-default" type="submit">Filtruj</button>
     </div>
     <br />
}


@if (!Model.Any())
{
    <p>Brak wpisów</p>
}
else
{
        <table class="table table-bordered table-hover">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Data</th>
                    <th>Użytkownik</th>
                    <th>Rodzaj pracy</th>
                    <th>Narzędzie</th>
                    <th>Artykuł</th>
                    <th>Opcje</th>
                    <th>Dodatkowe opcje</th>
                    <th word-break; width="200px">Uwagi</th>
                    <th>Ilość godzin</th>
                    <th>Opcje</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Date.ToShortDateString()</td>
                        <td>@item.ApplicationUser.FullName</td>
                        <td>@item.WorkType.Name</td>

                        <td>
                            @if (item.ToolId != null)
                            {
                                @item.Tool.Name
                            }
                        </td>

                        <td>
                            @if (item.ArticleId != null)
                            {
                                @item.Article.Name
                            }
                        </td>

                        <td>
                            @if (item.OptionsId != null)
                            {
                                @item.Options.Name
                            }
                        </td>

                        <td>
                            @if (item.OptionsAdditionalId != null)
                            {
                                @item.OptionsAdditional.Name
                            }
                        </td>

                        <td>@item.Info</td>
                        <td>@item.ReportedHours</td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
                    {
                            <td>@Html.ActionLink("Edytuj", "Edit", "Schedule", new { id = item.Id }, null)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }

            </tbody>
        </table>
        }
