@model IEnumerable<Rehau_TMS.Models.Tool>
@{
    ViewBag.Title = "Narzędzia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Narzędzia</h2>
<br />
@Html.ActionLink("Dodaj narzędzie", "Create", "Tool", new { @class = "btn btn-default" })
<br />
<br />

@if (!Model.Any())
{
    <p>Brak narzędzi</p>
}
else
{
    <input type="text" class="form-control" id="Input" onkeyup="myFunction(0)" placeholder="Szukaj po nazwie">
    <table class="table table-bordered table-hover" id="Table">

        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Numer Seryjny</th>
                <th>Status</th>
                <th>Artykuł</th>
                <th>Opcje</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var tool in Model)
            {
                <tr>
                    <td>@tool.Name</td>
                    <td>@tool.SerialNumber</td>
                    <td>@tool.ToolStatus.Name</td>
                    <td>@tool.Articles.Name</td>
                    <td>@Html.ActionLink("Edytuj", "Edit", "Tool", new { id = tool.Id }, null)</td>
                </tr>
            }

        </tbody>
    </table>
    <script src="~/Scripts/SearchField.js"></script>
}

