@model Rehau_TMS.ViewModels.ReportsViewModel
@{
    ViewBag.Title = "Raport";
}

<h2>Raporty</h2>
<br />
@using (Html.BeginForm("Index", "Report", FormMethod.Get))
{
    <div class="form-inline">
        @Html.TextBox("startDate", DateTime.Today.ToShortDateString(), new { @class = "form-control datepicker", type = "date", required = "required"})
        @Html.TextBox("endDate", DateTime.Today.ToShortDateString(), new { @class = "form-control datepicker", type = "date", required = "required" })

        <button class="btn btn-default" type="submit">Generuj dane</button>
    </div>
    <br />
}
@if (Model.Schedules == null)
{
    <p>@Model.EmptyModelMessage</p>
}
else if (!Model.Schedules.Any())
{
    <p>Brak danych dla wskazanego zakresu</p>
}
else
{
    <p><b>Raport rodzajów pracy</b></p>
    <table class="table table-bordered table-hover">

        <thead>
            <tr>
                <td><b>Werkzeugmacher</b></td>
                <td><b>(h)</b></td>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Schedules.GroupBy(s => new { s.WorkType }))
            {
                <tr>
                    <td>@item.Key.WorkType.Name</td>
                    <td>@item.Sum(s => s.ReportedHours)</td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <td>Suma</td>
                <td>@Model.Schedules.Sum(s => s.ReportedHours)</td>
            </tr>
        </tfoot>
    </table>
}
